.createNote{
    position: relative;
    height: 10%;
    width: 35%;
    margin-top: 8%;
    margin-left: 30%;

    >input{
        border-radius: 7px;
        background-color: hsl(0, 0%, 98%);
        border: 0;
    }
}