.noteList-container{
    position: relative;
    background-color: hsl(0, 0%, 98%);
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    height: 55%;
    width: 35%;
    margin-top: 2.5%;
    margin-left: 30%;
    overflow: hidden;
}

.noteList-content{
    /* position: relative; */
    width: 100%;
    height: 90%;
    overflow-y: auto;
    /* padding-right: 20px; */
    box-sizing: content-box;
    /* z-index: 100; */
}

.noteList-content::-webkit-scrollbar {
    width: 8px;
}

.noteList-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.noteList-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.noteList-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lastline{
    position: relative;
    width: 35%;
    height: 1%;
    margin-left: 30%;
    /* margin-top: 3%; */
}

.footer{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 5%;
    margin-left: 30%;
    margin-top: -2.5%;
    justify-content: center;
    align-items: center;

    >p{
        font-size: 12px;
        font-weight: 400;
    }
    >button{
        font-size: 12px;
        font-weight: 400;
    }

}