.noteList-container{
    position: relative;
    background-color: hsl(0, 0%, 98%);
    border-radius: 7px;
    /* box-shadow: 0 4px 4px 4px #ccc; */
    height: 55%;
    width: 35%;
    margin-top: 2.5%;
    margin-left: 30%;
    overflow: hidden;
}

#dark .noteList-container{
    background-color: hsl(235, 24%, 19%);
    /* box-shadow: 0 4px 4px 4px hsl(235, 24%, 19%); */
}

.noteList-content{
    /* position: relative; */
    width: 100%;
    height: 90%;
    overflow-y: auto;
    /* padding-right: 20px; */
    box-sizing: content-box;
    /* z-index: 100; */
}

.noteList-content::-webkit-scrollbar {
    width: 5px;
}

.noteList-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
#dark .noteList-content::-webkit-scrollbar-track{
    background: hsl(235, 24%, 19%);
}

.noteList-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.noteList-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lastline{
    position: relative;
    width: 35%;
    height: 1%;
    margin-left: 30%;
    /* margin-top: 3%; */
}

.footer{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 5%;
    margin-left: 30%;
    margin-top: -3%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    /* border-radius: 7px; */

    >p{
        font-size: 12px;
        font-weight: 400;
        margin-top: 5%;
    }
    >button{
        font-size: 12px;
        font-weight: 400;
        margin-top: 5%;
    }

}

#dark .footer{
    background-color: hsl(235, 24%, 19%);
    color: white;
}